---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
console.log(posts);
---

<BaseLayout>
    {posts.map((post) => <a href={"/posts/" + post.id}>{post.data.title}</a>)}
</BaseLayout>
