@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
    /* Registering your fonts */
    --font-sans: "Inter", ui-sans-serif, system-ui;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;

    /* Mapping Tailwind's Mist palette to functional variables */
    --color-background: var(--color-mist-900);
    --color-surface: var(--color-mist-800);
    --color-surface-hover: var(--color-mist-700);

    --color-primary: var(--color-mist-50);
    --color-secondary: var(--color-mist-200);
    --color-tertiary: var(--color-mist-400);

    --color-accent: var(--color-cyan-400);
    --color-border: var(--color-mist-800);
}

@layer base {
    body {
        font-family: var(--font-sans);
        background-color: var(--color-background);
        color: var(--color-primary);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-text-main);
        font-weight: 700;
        letter-spacing: -0.025em;
    }

    a {
        color: var(--color-accent);
        text-decoration: none;
        transition: opacity 0.2s;
    }

    a:hover {
        opacity: 0.8;
    }
}
