---
import Navigation from "./Navigation.astro";
import Socials from "./Socials.astro";
---

<header class="border-b border-surface p-4">
    <nav class="flex justify-between">
        <div>R</div>
        <Navigation />
        <Socials />
    </nav>
</header>
