---
import LinkedInIcon from "./icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
---

<div class="flex gap-4">
    <a href="https://www.linkedin.com/in/patryk-rajpold-19805b212/"
        ><LinkedInIcon /></a
    >
    <a href="https://github.com/prajpold">
        <GitHubIcon />
    </a>
</div>
