---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body class="min-h-dvh flex flex-col">
        <Header />
        <main class="p-8 sm:p-12 grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
